.container__paginator{
    display: flex;
    width: 60%;
    margin: 20px auto;

    align-items: center;
    justify-content: space-between;
}
.container__search{
  text-align: center;
}
.input__search{
    margin: 0 auto;
    width: 50%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}
.input__search:focus{
  border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}
.input__search:-webkit-input-placeholder{
  transition: opacity 0.45s ease; 
  opacity: 0;
}
.input__search::-moz-placeholder {
  transition: opacity 0.45s ease; 
  opacity: 0;
 }
 .input__search:-ms-placeholder {
  transition: opacity 0.45s ease; 
  opacity: 0;
  }  

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1rem;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 3rem;
    border: none;
    margin: 0 5px;
    transition: 0.5s;
    background-color: #60605e;
  }
    
  .btn:hover {
    background-color: #888884;
    transition: 0.5s;
  }

  .container__select{
    width: 50px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
  }

  @media (max-width: 800px) {
    .container__paginator{
      font-size: 10px;
      display: flex;
      width: 90%;
    }
  }